/*
 *
 *	FORM STYLE
 *		- BUTTONS
 *		- TEXT FIELDS
 *		- TEXT AREAS
 *
 */
 
/* CLASSES FOR BUTTONS */
	[class*='btn-'] {
		cursor: pointer;
		border: none;
		color: #9A9A9A;
		padding: 7px 10px 8px 10px;
		text-align: center;
		
		border-radius: 2px;
		-webkit-border-radius: 2px;
		
		transition: all 100ms linear;
		-webkit-transition: all 100ms linear;
	}
	[class*='btn-']:hover {
		color: #333;
	}
	[class*='btn-']:active {
		text-shadow: 0 0 5px #000;
	}
	
	/* BUTTON TYPES */
		.btn-ok { box-shadow: inset 0 -3px #3EB7FF; }
		.btn-ok:hover { box-shadow: inset 0 -40px 0 #3EB7FF; }
		.btn-default { box-shadow: inset 0 -3px #AAA; }
		.btn-default:hover { box-shadow: inset 0 -50px 0 #AAA; }
		.btn-success { box-shadow: inset 0 -3px #9be359; }
		.btn-success:hover{ box-shadow: inset 0 -50px 0 #9be359; }
		.btn-warn { box-shadow: inset 0 -3px #EE9111; }
		.btn-warn:hover{ box-shadow: inset 0 -50px 0 #EE9111; }
		.btn-fail { box-shadow: inset 0 -3px #D1766B; }
		.btn-fail:hover{ box-shadow: inset 0 -50px 0 #D1766B; }
		
		
/* CLASSES FOR TEXT FIELDS */
	[class*='txt-'] {
		border: none;
		padding: 7px 10px 8px 10px;
		color: #9A9A9A;
		width: 200px;
		box-shadow: inset 0 -3px #AAA;
				
		border-radius: 2px;
		-webkit-border-radius: 2px;
		
		transition: all 100ms linear;
		-webkit-transition: all 100ms linear;
	} 
	[class*='txt-']:focus {
		box-shadow: inset 0 -40px 0 #AAA;
		color: #333;
	}
	
	/* TEXT TYPES */
		.txt-default { background: #EEE; }