/**
*
* LIST DEFINITION
*
**/

.list {
	width: 100%;
	padding: 0;
	border: 1px solid #E5E5E5;
	border-bottom: none;
}

a.list-item {
	width: 100%;
	display: block;
	background: #FFF;
	color: #333;
	padding: 5px;
	border-bottom: 1px solid #E5E5E5;
	text-decoration: none;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
}

a.list-item:hover {
	padding: 10px;
	box-shadow: inset 0 0 15px #E5E5E5;
}
	
	p.list-item-header {
		font-size: 15px !important;
		font-weight: bold;
		display: block;
	}