/**
*
*	TAB DEFINITIONS
*
**/

ul.tab-box {
	width: 100%;
	padding: 0;
}

	a.tab-item {
		display: inline;
		padding: 7px 10px;
		text-decoration: none;
		color: #8A8A8A;
		text-transform: uppercase;
		margin-right: 5px;
		
		border-type: solid;
		border-color: #AAA;
		border-width: 1px 1px 0 1px;
		
		border-radius: 2px 2px 0 0;
		-webkit-border-radius: 2px 2px 0 0;
		
		box-shadow: inset 0 0 0 #AAA;
		-webkit-box-shadow: inset 0 0 0 #AAA;
		
		transition: all 100ms linear;
		-webkit-transition: all 150ms linear;
	}
	@media all and (max-width: 750px) {
		a.tab-item { 
			width: 100% !important;
			padding-right: 0;
			display: block;
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
		}
		ul.tab-content {
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
		}
	}
	
	a.tab-item:hover, li:target > a.tab-item {
		color: #333;
		
		box-shadow: inset 0 -35px 0 #AAA;
		-webkit-box-shadow: inset 0 -35px 0 #AAA;
	}
	
	a.tab-item:last-of-type { margin: 0 !important; }
	

ul.tab-content {
	display: none;
	background: #FFF;
	border-top: 1px solid #AAA;
	padding: 10px;
}

/* FUNCTIONALITY OF TAB-SWITCHER */
li:target > ul.tab-content { display: block; }