/**
 *
 *	TOOLTIP DEFINITION
 *
**/

p.tooltip {
	z-index: 9;
	display: inline;
	background: #333;
	color: #E5E5E5;
	padding: 5px;
	position: absolute;
	margin: 0 0 0 5px !important;
	max-width: 190px;
	text-transform: none !important; 
	font-weight: normal !important;
	text-align: left !important; 

	transform: scale(0);
	-webkit-transform: scale(0);
	
	transition: transform 100ms linear;
	-webkit-transition: transform 100ms linear;
}

*:hover > p.tooltip {
	transform: scale(1);
	-webkit-transform: scale(1);
}