/**
*
*	
*
**/

body p, a, span, strong {
	font-size: 13px;
	line-height: 15px;
	color: #333;
}

body h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-decoration: none;
	padding: 0;
	margin: 3px 0;
	color: #333;
}

h1 { font-size: 36px; }
h2 { font-size: 31px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 20px; }
h6 { font-size: 20px; }