/**
*
*	COLOR OPTIONS 
*
**/

/* BACKGROUND COLOR OPTIONS */
	.bg-symblue { background: rgb(0,136,255); }
	.bg-symdark { background: rgb(51,51,51); }
	.bg-symlight { background: rgb(229,229,229); }
	.bg-black { background: rgb(0,0,0); }
	.bg-white { background: rgb(255,255,255); }				
	.bg-blue { background: rgb(0,0,255); }						
	.bg-brown { background: rgb(165,42,42); }					
	.bg-cyan { background: rgb(0,255,255); }					
	.bg-gold { background: rgb(255,215,0); }					
	.bg-grey { background: rgb(190,190,190); }		
	.bg-lightgrey { background: rgb(211,211,211); }	
	.bg-green { background: rgb(0,128,0); }					
	.bg-navy { background: rgb(0,0,128) }						
	.bg-orange { background: rgb(255,165,0) }					
	.bg-pink { background: rgb(255,192,203); }				
	.bg-purple { background: rgb(160,32,240); }				
	.bg-red { background: rgb(255,0,0); }						
	.bg-silver { background: rgb(230,232,250); }				
	.bg-violet { background: rgb(238,130,238); }				
	.bg-yellow { background: rgb(255,255,0); }				
/* END OF BACKGROUND COLORS */

/* TEXT COLOR OPTIONS (SAME AS BACKGROUND) */
	.text-symblue { color: rgb(0,136,255); }
	.text-symdark { color: rgb(51,51,51); }
	.text-symlight { color: rgb(229,229,229); }
	.text-black { color: rgb(0,0,0); }
	.text-white { color: rgb(255,255,255); }
	.text-blue { color: rgb(0,0,255); }
	.text-brown { color: rgb(165,42,42); }
	.text-cyan { color: rgb(0,255,255); }
	.text-gold { color: rgb(255,215,0); }
	.text-grey { color: rgb(190,190,190); }
	.text-lightgrey { background: rgb(211,211,211); }	
	.text-green { color: rgb(0,128,0); }
	.text-navy { color: rgb(0,0,128) }
	.text-orange { color: rgb(255,165,0) }
	.text-pink { color: rgb(255,192,203); }
	.text-purple { color: rgb(160,32,240); }
	.text-red { color: rgb(255,0,0); }
	.text-silver { color: rgb(230,232,250); }
	.text-violet { color: rgb(238,130,238); }
	.text-yellow { color: rgb(255,255,0); }
/* END OF TEXT COLORS */